.form-group {
    margin: 5px;
}

.container {
    width: 70%;
    padding: 20px;
    line-height: 200%
}

#timetable {margin: auto; width: 70%;}

#timetable table {
    margin: 20px;
    grid-template-columns: 100px 1fr 1fr;
    align-self: center;
}

.btn-cell {
    text-align: center;
}

#book-btn {
    width: 250px;
}