<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load bootstrap5 %}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Busking app</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    {% include '_navbar.html' %}
    {% include '_messages_component.html' %}
    {% block content %} {% endblock %}
  </body>
</html>