<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Busking app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Domů</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Přehled vysoupení</a>
        </li>
        {% if request.user.is_authenticated %}
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'manage-spot'%}">Manage</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'book'%}">Rezervace</a>
            </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Odhlásit se</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Příhlásit se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registrovat</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>