{% include '_base.html' %}

{% block content %}
<div class="container">
    
    <div id="timetable">
        <h3>Přehled umělců</h3>
        <table class="table table-striped table-hover">
            <thead>
                    <th>ID</th>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Uživatelské jméno</th>
                    <th>Registrace</th>
                    <th>Profil</th>
            </thead>
            <tbody>
                {% for a in artists %}
                    <tr>
                        <td>{{a.id}}</td>
                        <td>{{a.first_name}}</td>
                        <td>{{a.last_name}}</td>
                        <td>{{a.username}}</td>
                        <td>{{a.date_joined}}</td>
                        <td><a class="btn btn-primary" href="{% url 'artist' a.id %}">Profil</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}