{% include '_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div id='m' class='iframe'>{{map|safe}}</div>

    <form method="post">
        {% csrf_token %}
        <input id="spot_id" name="spot_id" hidden value="-1">
        <div class="form-group">
            <input class="form-control" type="text" id="coordinates" name="coordinates" required="true" placeholder="Souřadnice lokace (vyplní se automaticky po kliknutí na mapu)">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="name" name="name" placeholder="Název lokace" required="true">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Podrobnější popis místa (čísla budov před kterými se může hrát atp.)..."></textarea>
        </div>
        <h4>Vyberte povolené časy hraní: </h4>
        {% for t in times %}
            <div class="times form-check form-check-inline" id="times">
                <input class="form-check-input" type="checkbox" name="{{t}}" id="{{t}}">
                <label class="form-check-label" for="inlineCheckbox1">{{t}}</label>
            </div>
        {% endfor %}
        <br><br>
        <button class="btn btn-primary" action="{% url 'manage-spot' %}">Přidat místo</button>
    </form>

    <script src="{% static 'js/spot_manage.js' %}"></script>
</div>
{% endblock %}